* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style:none;
}

html {
    position:absolute;
    margin: 0;
    width:100%;
    height:100%;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    position:absolute;
    margin: 0;
    width:100%;
    height:100%;
    min-height:720px;
}


#songA-window {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 700px;
    height: 20px;
}

#songB-window {
    position: absolute;
    left: 15px;
    top: 100px;
    width: 700px;
    height: 20px;
}

.songAB-text {
    display: block;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight:bold;
    user-select:none;
}

#songA-window select {
    font-size: 16px;
    width: 600px;
    height: 30px;
    overflow-x: auto;
    cursor: pointer;
}

#songB-window select {
    font-size: 16px;
    width: 600px;
    height: 30px;
    overflow-x: auto;
    cursor: pointer;
}

#trans-button {
    position:absolute;
    width: 200px;
    height: 50px;
    left: 30px;
    top: 300px;
    display: flex;
    justify-content: center;
    cursor:pointer;
    background-color:rgba(217,217,217,1);
    border: 1px solid black;
}

#trans-button:hover {
    background-color:yellow;
}

#flexer-button {
    position:absolute;
    width: 200px;
    height: 50px;
    left: 290px;
    top: 300px;
    display: flex;
    justify-content: center;
    cursor:pointer;
    background-color:rgba(217,217,217,1);
    border: 1px solid black;
}

#flexer-button:hover {
    background-color:yellow;
}

#neighbor-button {
    position:absolute;
    width: 200px;
    height: 50px;
    left: 160px;
    top: 400px;
    display: flex;
    justify-content: center;
    cursor:pointer;
    background-color:rgba(217,217,217,1);
    border: 1px solid black;
}

#neighbor-button:hover {
    background-color:yellow;
}

.button-text {
    user-select:none;
    display: flex;
    font-size:16pt;
    font-weight:bold;
    align-items: center;
}

#number-form {
    position: absolute;
    left: 15px;
    top: 180px;
    width: 700px;
    height: 30px;
}

#button-text {
    user-select:none;
    font-size:16pt;
    font-weight:bold;
}